 // regular 
 .sidebar {
     display: block; // Sidebar always visible
 }







 .landingName {
     color: rgb(255, 255, 255);
     font-size: 90px !important;
     padding-left: 4%;
     padding-top: 10%;
     overflow-wrap: break-word !important; // Ensure long words break and wrap
 }



 // Adjust styles for tablets (medium screens)
 @media (max-width: 1024px) {
    .ProfilePhoto {
        display: inline;
        align-items: center;
      
        img {
          // Adjust the size of the image if needed
          width: 100px!important;
          height: 100px;
          border-radius: 50%; // Makes the image circular
        }
    }
     .contact-container {
         position: relative;
         padding: 20px !important;
         color: #040b14;

         display: block; // Enable flexbox


         h1 {
             margin-bottom: 20px;
         }

         .invitation-message {
             text-align: justify;
         }

         .contact-details {
             padding-bottom: 20px;

             p {
                 font-size: 8px;
                 margin: 5px 0;

                 strong {
                     color: #333;
                 }
             }
         }
     }

     .typing {
         font-size: 20px; // Slightly smaller font for tablets
     }

     .about {
         padding: 20px;
         height: 700px !important;
         overflow-y: scroll !important;

         &::-webkit-scrollbar {
             display: none;

         }
     }

     .contact-container {
         padding: 20px;
         height: 700px !important;
         overflow-y: scroll !important;

         &::-webkit-scrollbar {
             display: none;

         }
     }

     .landingName {
         font-size: 8vw !important; // Responsive font size relative to viewport width
         padding-left: 5vw;
         padding-top: 5vw;
     }
 }


     