/* src/App.css */
body, html, #root, .app {
   margin: 0;
  font-family: "Raleway", sans-serif;

 
  background-color: #1e1e1e;
  color: #d4d4d4;
}


.app {
  display: flex;
  height: 100vh;  
}

.sidebar {
  width: 30vh!important;
  padding: 30px;
  background-color: #040b14;
  margin-right: 0!important;
 }

.main-content {
  width: 70vh!important;

   overflow-y: auto;  
}

 

.sidebar {
  text-align: center;
  width:auto;
  margin-right: 20%;
  background-color: #040b14;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}
 
 
.kevinBg{ 
    position: absolute;
     transition: transform 0.3s ease;  
     height: 100vh;
     min-width: 2000px;

     width: auto;
    background-image: url('public/img/kcBg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
        margin: 0;
        background-position-x: right;
  
  }
 

.landingText{
  color: rgb(255, 255, 255);
  padding-top: 10%;
  padding-left: 4%;
 
}
.sidebar h2 {
  color: #c5c5c5;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  font-family:"Poppins", sans-serif;

  list-style-type: none;
  padding: 2px;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #d4d4d4;
  text-decoration: none;
  display: flex;
  
  align-items: center;
}

.sidebar ul li a:hover {
  color: #ffffff;
}

.sidebar ul li a svg {
  margin-right: 10px;
}

.main-content {
  flex-grow: 1;
   background-color: #1e1e1e;
  box-sizing: border-box;
}

 

 
 
/* Tablets and small screens */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
  }

  .hamburger.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .sidebar {
    display: none;
  }

  .main-content {
    padding: 10px;
  }
}
