/* src/App.css */
@import 'styles/bs';
@import 'styles/colours';
@import 'styles/mq';

body,
html,
#root,
.app {
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}



.app {
  display: flex;

}


.about {
  text-align: justify !important;
  padding: 20px;
  padding-bottom: 40px;
  width: 90vw;
  list-style-type: none;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
}

.about {
  padding-top: 10px;
  padding-bottom: 40px;
 
  height: 90vh;
  overflow-y: scroll !important;
}




.about .proPicImage {
  float: inline-start;
  /* Ensure this remains correctly positioned */
  margin-right: 20px;
  width: auto;
  height: 400px!important;
  padding-top: 1%;
}



.main-content {
  &::-webkit-scrollbar {
    display: none !important;
  }

  width: fit-content;
  /* Make the width take up the full available space */
  min-height: 100vh;
  /* Ensure the content at least fills the viewport height */
  max-height: 100vh;
  /* Ensure the content does not exceed the viewport height */
  /* Enable vertical scrolling if the content exceeds the viewport height */
  box-sizing: border-box;
  /* Include padding and border in the element's width and height */
  justify-content: center;
  /* Center horizontally */
  height: 100vh;
  /* Or any other height */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  /* Full viewport height */
  overflow-x: hidden !important;

}

.sidebar {
  text-align: center;
  padding-top: 30px;
  padding: 20px;
  width: fit-content !important;
  /* Default fixed width */
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
  transition: transform 0.3s ease;

  justify-items: center;
}


.navigation {
  display: flex;
  /* Ensure that the children are flex items */
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
}

/* For tablets or medium screens */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    /* Slightly reduce the width for medium screens */
    // margin-right: 15%; /* Adjust margin to fit better on smaller screens */
  }
}

/* For mobile or small screens */
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    /* Make the sidebar take the full width of the screen */
    margin-right: 0;
    /* Remove the margin to maximize space */
    padding: 5px;
    /* Adjust padding to save space */
  }
}




.kevinBg {
  position: absolute;
  transition: transform 0.3s ease;
  height: 100vh;
  width: 100vw;
  background-size: cover;
      &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-image: url("https://coding-corps.github.io/my-portfolio/img/kcBg.png") !important;
    background-size:  90%; /* Ensure the image covers the entire area */
    background-position: -0px 25% ;
    z-index: 0!important; 

  }
  .landingName{
    position: relative;
  }
}



.sidebar h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  padding: 2px;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  display: flex;

  align-items: center;
}

 
.sidebar ul li a svg {
  margin-right: 10px;
}






/* Tablets and small screens */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }



  .hamburger {
    display: block;
  }

  .hamburger.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}



/// contact me please


 
.contact-container  {
   padding: 50px;
  position: relative;
   border-radius: 8px;
   text-align: left;
   margin: 0 auto;
  width: 50vw!important;
  .contactSocials{
    float: inline-start;
    padding: 10px;
  }
  h1 {
    // text-align: center;
    margin-bottom: 20px;
  }

  .contact-details {
    p {
      font-size: 16px;
      margin: 10px 0;

      strong {
        color: #333;
      }
    }
  }
}



// blog 

.blog.embedded-page {
  width: 100vh;
  overflow: visible !important;
  padding: 10px;
  min-width: 80%!important;
  background-color: #283227;
  height: 90vh;
  position: absolute;
  /* or relative, based on parent positioning */
  top: 0;
  border: 50px solid #283227;

  /* Add your desired border color and width */
  &::-webkit-scrollbar {
    display: none !important;
  }
}


.blogDiv {
  width: 100%;
  /* Adjust as needed */
  height: 100vh;
  /* Adjust as needed (viewport height) */
  position: absolute;
  /* Ensure positioning context */
}






// skills 
.skillSection {
  padding: 20px;
  overflow-y: scroll !important;
  /* Enable vertical scrolling if the content exceeds the viewport height */
  height: 400px;

  border-radius: 1px;
  border-radius: 7px;


}

 

.skillsContain {

  min-width: 100vh;
  padding: 20px;
  width: 90%;
  /* Make it take up the full width */
  height: 100vh;
  /* Make it take up the full height of the viewport */
}

.skill-list {
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; // Adjust spacing between items as needed
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.skill-item {
  display: flex;
  flex-direction: column;
   border-radius: 8px; // Optional: rounded corners
  padding: 10px;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.resume button {
  margin: 10px;
}
.skill-progress {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.skill-progress-bar {
  height: 20px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.skillHeader {
  text-align: left !important;
  font-size: large;
}

.aboutText  {
  padding: 10px!important;
  text-align: justify;
 }